@{

    ViewData["Title"] = "Home Page";
    Layout = "_Layout-login";
}
    

    <div id="divlog">
        <ul class="list-unstyled components">
            <li>
                <a class="nav-link " asp-area="" asp-controller="Account" asp-action="LogIn">Zaloguj</a>
            </li>
            <li>
                <a class="nav-link " asp-area=" " asp-controller="Account" asp-action="Register">Zarejestruj</a>
            </li>
        </ul>
    </div>
   

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData.ContainsKey("ErrorsMessage"))
{
    <div class="alert alert-success">@TempData["ErrorMessage"]</div>
}
