@model Blog.Models.Register

@{

    ViewData["Title"] = "Rejestracja";
    Layout = "_Layout-login";

    var isRegistered = ViewData["isRegistered"];
    var isPasswordLenght = ViewData["isPasswordLenght"];

                


}

<div id="divlogin">
    <ul class="list-unstyled components">
        <li>
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Index">Powrót</a>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="LogIn">Zaloguj</a>
        </li>
    </ul>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();
    <span>Login: </span> @Html.TextBoxFor(x => x.UserName)

    <span>Hasło: </span> @Html.PasswordFor(x => x.Password)


    <input type="submit" value="Zarejestruj" />
}
@if (isRegistered.Equals(true))
{
    <p class="adultInfo">Użytkownik, o tym loginie juz istnieje!</p>
}
@if (isPasswordLenght.Equals(false))
{
    <p class="adultInfo">Hasło musi zawierać conajmniej 5 znaków!</p>
}
