@model CreateRoom;
@{
    Layout = "_LayoutEmpty";
}
    <h1>Stwórz Grupę</h1>

<centre>
    @using (@Html.BeginForm("CreateRoom", "Chat", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <span>Nazwa: </span> @Html.TextBoxFor(x => x.Name)
        <br />
        <span>Dodaj zdjęcie:</span> <input type="file" name="file" />
         <input type="submit" value="Stwórz" />

    }
    @if (ViewData["isCreated"] != null)
    {
        <span>Pokój o danej nazwie już istnieje, wybierz inną!</span>
    }
</centre>
