html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    color: darkgrey;
    margin-bottom: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.4em;
    
}

.navbar {
    font-size: 80%;
    height: 50px;
}

.navbar-nav {
    margin-left:900px;
    font-weight:700;

}


#chatbar{
    float:left;
    width:15%;
    height:auto;
    
      
}
.userOnUserList{
    font-weight:bold;
    color:white;
    letter-spacing:1px;
}
.userListBlock{
    display:flex;
    border-bottom:0.5px solid black;
    padding:5px;
    
    


}
.userListBlock:hover{
    font-weight:bold;
    font-size:120%;
    background-color:aliceblue;
}
    #messagesBox {
        height: auto;
        padding: 20px;
        border: 1px solid grey;
        width: 70%;
        float: left;
    }
#box {
    overflow-y: scroll;
    height: 300px;
    margin: 0px;
    display: flex;
    flex-direction: column-reverse;
}

#main {
    margin:0px;
    padding: 0px 60px 0px 60px;
    text-align: center;
    
    
   
}

.avatar_user,
.avatar_room {
    display: block;
    padding: 5px;
    border: 1px solid white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#sidebar {
    height: 200;
    width: 15%;
    float: left;
    overflow-y: scroll;
}
#sidebar ul li {
    display: flex;
    
    font-size: 20px;
    height: 60px;
    padding: 10px 2px 55px 20px;
    margin: 5px 0px 5px 0px;
}
#sidebar ul li a {
    text-decoration: none;
    color:cyan;
}
#sidebar ul li:hover {
        background-color: #4b4f4c;
}

#sidebar ul .sidebar_selected {
    background-color: darkgrey;
}
#sidebar ul .sidebar_selected:hover{
    background-color: grey;
}

.nav-hover:hover {
    background-color: #4b4f4c !important;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.time{
    font-size:15px;
}

/* Sticky footer styles
-------------------------------------------------- */


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */



.footer {
    font-size:80%;
    
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 20px;
    line-height: 30px; /* Vertically center the text there */

    margin-top:0px;
}


/* Chat containers */
#chat .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-family: "Open Sans", serif;
}

#chat .sender {
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
}

/* Darker chat container */
#chat .darker {
    border-color: #fff;
    background-color: #007bff;
}

/* Clear floats */
#chat .container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
#chat .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

    /* Style the right image */
    #chat .container img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }

/* Style time text */
#chat .time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
#chat .time-left {
    float: left;
    color: #999;
}

/* SETTINGS*/
#container {
    display: flex;
}
#profil{
    text-align:right;
}
#profil img{
    background-color:aliceblue;
    padding:10px;
    border:1px solid black;
}
main--settings{
    height:auto;
    width:1200px !important;
}
aside--settings {
    height: auto;
    width: 20%;
}
/*scroll*/
.customScroll::-webkit-scrollbar {
    width: 2px;
}

.customScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: darkseagreen;
    outline: 1px solid slategrey;
}